$primary: #519ac3;
$success: #00ff00;
$info: #0000ff;
$warning: #ffff00;
$danger: #ff0000;
$light: #e8e8e8;
$dark: #000000;

$spacer: 1rem;
$padding-x: 1rem;
$padding-y: 0.75rem;

$theme-colors: (
  "primary":    $primary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark
);

// Feature flags
$enable-caret: true;
$enable-cssgrid: true;
$enable-negative-margins: false;
$enable-rounded: true;
$enable-shadows: true;
$enable-smooth-scroll: false;
$color-mode-type: media-query;

$border-radius: 0;
$border-radius-sm: 0.5rem;
$border-radius-lg: 2rem;
$border-radius-pill: 50rem;

$component-active-bg: var(--bs-primary, $primary);

$link-decoration: none;
$link-hover-decoration: underline;

$input-focus-border-color: $component-active-bg;

$btn-box-shadow: none;
$btn-border-radius: 0;
$btn-border-radius-sm: 0;
$btn-font-weight: 600;

$btn-hover-bg-tint-amount: 25%;

$dropdown-min-width: 100%;

$navbar-nav-link-padding-x: $padding-x;

$nav-link-padding-y: $padding-y;
$nav-link-padding-x: $padding-x;
$nav-link-font-weight: 600;
$nav-link-color: inherit;

$nav-pills-border-radius: $border-radius-pill;

$card-border-width: 2px;
$card-border-color: $light;
$card-height: 100%;
